h5.white-text,
h3.white-text {
  text-shadow: 2px 4px 6px black;
}

footer {
  margin-top: 62px;
}

#gameContainer {
  margin: auto;
  padding-top: 30px;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* XXS Devices, Small Phones */
@media only screen and (max-width: 479px) {
  /* player 1 card sizing and margin */
  #floatLeft {
    float: left;
    height: 300px;
    margin-top: 375px;
    margin-left: 15px;
  }

  /* player 2 card sizing and margin */
  #floatRight {
    float: right;
    height: 300px;
    margin-top: -315px;
    margin-right: 15px;
  }

  /* cards positioning */
  #floatLeft,
  #floatRight {
    width: 145px;
    margin-left: 7px;
    margin-right: 7px;
    clear: both;
    display: inline-block;
  }

  /* title resizing */
  body > div:nth-child(1) > nav > div > a {
    font-size: 0.9rem;
  }

  /* nav bar resizing */
  body > div:nth-child(1) > nav {
    height: 100px;
  }

  /* resizing nav bar buttons */
  #leftButton > li > a,
  #leftButton > li > a > i,
  #rightButton > li > a,
  #rightButton > li > a > i {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
  }

  /* bringin dow to new space the buttons on navbar */
  #leftButton > li > a,
  #rightButton > li > a {
    margin-top: 50px;
  }

  /* resizing card text */
  #p2health,
  #floatRight > div > h5:nth-child(2),
  #floatRight > div > h5:nth-child(6),
  #p2power,
  #floatLeft > div > h5:nth-child(2),
  #p1health,
  #floatLeft > div > h5:nth-child(6),
  #p1power {
    font-size: 20px;
  }

  /* resizing card margin */
  #floatLeft > div > h5:nth-child(2),
  #floatRight > div > h5:nth-child(2),
  #floatLeft > div > h5:nth-child(6),
  #floatRight > div > h5:nth-child(6) {
    margin-bottom: 0px;
  }

  /* resizing card margin to bring elements together */
  #p1power,
  #p1health,
  #p1healthBar #p2power,
  #p2health,
  #p2healthBar,
  #p2power {
    margin-top: 0px;
  }

  /* bringing footer colored panel closer */
  body > footer {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 479px) and (min-width: 420px) {
  /* title resizing */
  body > div:nth-child(1) > nav > div > a {
    font-size: 1.2rem;
  }

  /* cards positioning */
  #floatLeft,
  #floatRight {
    width: 180px;
    margin-left: 20px;
    margin-right: 20px;
    clear: both;
    display: inline-block;
  }

  /* player 1 card sizing and margin */
  #floatLeft {
    float: left;
    height: 300px;
    margin-top: 385px;
    margin-left: 15px;
  }
}

/* XS Devices, Phones */
@media only screen and (max-width: 768px) and (min-width: 480px) {
  /* player 1 card sizing and margin */
  #floatLeft {
    float: left;
    height: 300px;
    margin-top: 45px;
    width: 100px;
    margin-left: 0px;
  }

  #player1Heart > i,
  #\23 leftContent > span.btn-large.btn-floating.black > i,
  #\23 leftContent > span.btn-large.btn-floating.black > i ::before {
    padding-right: 0px;
  }

  #floatRight {
    float: right;
    height: 300px;
    margin-top: 45px;
    width: 100px;
    margin-right: 0px;
  }

  #player2Heart > i,
  #\23 rightContent > span.btn-large.btn-floating.black > i,
  #\23 rightContent > span.btn-large.btn-floating.blackn > i ::before {
    padding-right: 0px;
  }

  /* resizing card text */
  #p2health,
  #floatRight > div > h5:nth-child(2),
  #floatRight > div > h5:nth-child(6),
  #p2power,
  #floatLeft > div > h5:nth-child(2),
  #p1health,
  #floatLeft > div > h5:nth-child(6),
  #p1power {
    font-size: 15px;
  }

  /* resizing card margin */
  #floatLeft > div > h5:nth-child(2),
  #floatRight > div > h5:nth-child(2),
  #floatLeft > div > h5:nth-child(6),
  #floatRight > div > h5:nth-child(6) {
    margin-bottom: 0px;
  }

  /* resizing card margin to bring elements together */
  #p1power,
  #p1health,
  #p1healthBar #p2power,
  #p2health,
  #p2healthBar,
  #p2power {
    margin-top: 0px;
  }

  /* title resizing */
  body > div:nth-child(1) > nav > div > a {
    font-size: 1.5rem;
  }

  /* nav bar resizing */
  body > div:nth-child(1) > nav {
    height: 100px;
  }

  /* resizing nav bar buttons */
  #leftButton > li > a,
  #leftButton > li > a > i,
  #rightButton > li > a,
  #rightButton > li > a > i {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
  }

  /* bringin dow to new space the buttons on navbar */
  #leftButton > li > a,
  #rightButton > li > a {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 650px) {
  /* player 1 card sizing and margin */
  #floatLeft {
    float: left;
    height: 300px;
    margin-top: 45px;
    width: 120px;
    margin-left: 20px;
  }

  #floatRight {
    float: right;
    height: 300px;
    margin-top: 45px;
    width: 120px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  #floatLeft {
    float: left;
    height: 400px;
    margin-top: 45px;
    width: 120px;
    margin-left: 10px;
  }

  #floatRight {
    float: right;
    height: 400px;
    margin-top: 45px;
    width: 120px;
    margin-right: 10px;
  }
}

/* Medium Devices, Small Computers, Large Tablets */
@media only screen and (min-width: 992px) {
  #floatLeft {
    float: left;
    width: 150px;
    height: 420px;
    margin-top: 130px;
    margin-left: 10px;
  }

  #floatRight {
    float: right;
    width: 150px;
    height: 420px;
    margin-top: 130px;
    margin-right: 10px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #floatLeft {
    float: left;
    width: 200px;
    height: 420px;
    margin-top: 130px;
    margin-left: 30px;
  }

  #floatRight {
    float: right;
    width: 200px;
    height: 420px;
    margin-top: 130px;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1400px) {
  #floatLeft {
    float: left;
    width: 250px;
    height: 420px;
    margin-top: 130px;
    margin-left: 100px;
  }

  #floatRight {
    float: right;
    width: 250px;
    height: 420px;
    margin-top: 130px;
    margin-right: 100px;
  }
}

@media only screen and (min-width: 1600px) {
  #floatLeft {
    float: left;
    width: 300px;
    height: 420px;
    margin-top: 130px;
    margin-left: 200px;
  }

  #floatRight {
    float: right;
    width: 300px;
    height: 420px;
    margin-top: 130px;
    margin-right: 200px;
  }
}
